/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Color Theme Swatches in Hex */
.Poseidon-1-hex { color: #012030; }
.Poseidon-2-hex { color: #13678A; }
.Poseidon-3-hex { color: #45C4B0; }
.Poseidon-4-hex { color: #9AEBA3; }
.Poseidon-5-hex { color: #DAFDBA; }

/* Color Theme Swatches in RGBA */
.Poseidon-1-rgba { color: rgba(1, 32, 48, 1); }
.Poseidon-2-rgba { color: rgba(19, 103, 138, 1); }
.Poseidon-3-rgba { color: rgba(69, 196, 176, 1); }
.Poseidon-4-rgba { color: rgba(154, 235, 163, 1); }
.Poseidon-5-rgba { color: rgba(218, 253, 186, 1); }



/*Fonts*/

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}


/* Header Styles */

header {
 display:grid;
 background-image: url(images/swiss-valley.jpg);
 background-size: 100%;
filter: contrast(1.1);
filter: saturate(1.8);

}

header h1 a {
	text-decoration: none;
	color: #012030;
}

h1 a:hover {
	color:#13678A;
	font-weight: 1000;

	
}

h1 {
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
  	font-weight: 700;
	font-style: normal;
	text-align: center;
	font-size: 40pt;
	margin-top: 4rem;
	
}

ul {
	list-style-type: none;
	display:flex;
	justify-content: center;
	

}

ul li a{
	display:block;
	margin: 30pt 64pt;
	text-decoration: none;
	margin-bottom: 180pt;
	font-size: 18pt;
	font-family: "Cal Sans", sans-serif, Arial;
  	font-weight: 700;
  	font-style: normal;
	color:#012030;
	
}
ul li a:link{
	color:#012030;
}

ul li a:hover{
	color:#13678A;
	transform: scale(1.2);
}

ul li a:active{
	color:#45C4B0;
}



/* Main styles for home page*/
main {
	margin: 4rem 4rem 4rem 4rem;
}

.intro {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
}

.intro h2 {
	grid-column: 1/2;
	grid-row: 1;
	align-self: center;
	justify-self: center;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
  	font-weight: 700;
  	font-style: normal;
	font-size: 21pt;
	margin-bottom: 2rem;
}
.intro p {
	grid-column: 1/2;
	grid-row: 2;
	align-self: center;
	justify-self: center;
	margin-left: 12rem;
	margin-right: 12rem;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
  	font-weight: 300;
  	font-style: normal;
	font-size: 16pt;
	text-indent: 50px;
}

.photos {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.content-group-1 {
	grid-column: 1;
	
}
.content-group-1 img {
	margin-left: 2rem;
}

.content-group-1 h3 {
	text-align: center;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 16pt;
	margin-bottom: 1rem;
	margin-top: 1rem;

}
.content-group-1 p {
	margin-left: 3rem;
	margin-right: 3rem;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
  	font-weight: 300;
  	font-style: normal;
	font-size: 14pt;
	text-indent: 50px;
}

.content-group-2 {
	grid-column: 2;
	
}
.content-group-2 img {
	margin-left: 2rem;
	
}
.content-group-2 h3 {
	text-align: center;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 16pt;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.content-group-2 p {
	margin-left: 3rem;
	margin-right: 3rem;
	font-family: "Oleo Script", system-ui,Arial, Helvetica, sans-serif;
  	font-weight: 300;
  	font-style: normal;
	font-size: 14pt;
	text-indent: 50px;
}

/* Contact Page */



.contact {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	margin-left: 20rem;
	margin-right: 20rem;
}

.contact h2 {
	grid-column: 1/2;
	grid-row: 1/2;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
	font-weight: 700;
  	font-style: normal;
	font-size: 18pt;
	margin-bottom: 1rem;
	
	
}

.contact p {
	grid-column: 1/2;
	grid-row: 2/3;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
	font-weight: 300;
  	font-style: normal;
	font-size: 14pt;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.contact img {
	grid-column: 1/2;
	grid-row: 3/4;
	
}

.contact form {
	grid-column: 2/3;
	grid-row: 1/4;
	align-self: center;
	justify-self: center;
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
	font-weight: 300;
  	font-style: normal;
	font-size: 14pt;
}

footer {
	text-align: center;
	margin-top: 8rem;
	margin-bottom: 2rem;
}

footer p {
	font-family: "Oleo Script", system-ui, Arial, Helvetica, sans-serif;
	font-weight: 200;
  	font-style: normal;
	font-size: 12pt;
}

